.App {
  text-align: center;
}

.App-header {
  text-align: left;
  width: 600px;
  margin: 0 auto;
}
.App-header ul {
  margin: 25px 0;
  padding: 0;
}
.App-header ul li {
  margin: 5px 0;
}

.cell{
  text-align: center;
}

.spreadSheet{
  margin-left: auto;
  margin-right: auto;
}